<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net48" />
  <package id="Azure.AI.TextAnalytics" version="5.3.0" targetFramework="net48" />
  <package id="Azure.Core" version="1.33.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.61" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.ML" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="3.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Reddit" version="1.5.2" targetFramework="net48" />
  <package id="Reddit.AuthTokenRetrieverLib" version="1.5.2" targetFramework="net48" />
  <package id="RestSharp" version="106.6.9" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.21.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="126.0.6478.6100" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="8.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TweetinviAPI" version="5.0.4" targetFramework="net48" />
  <package id="uhttpsharp.Standard" version="8.0.30703.1" targetFramework="net48" />
</packages>